{% extends "base.html.twig" %}
{% block title property.title  %}


{% block body %}
    <div class="container mt-4">
       <div class="row">
           <div class="col-8">
               <img src="{{ asset('/images/properties/default.jpeg') }}" alt="{{ property.slug }}" class="card-img-top" style="width: 100%; height: auto;">
           </div>
           <div class="col-4">
               {% for message in app.flashes('success') %}
                   <div class="alert alert-success">
                       {{ message }}
                   </div>
               {% endfor %}
               <h1>{{ property.title }}</h1>
               <h2>{{ property.room }} pièces - {{ property.surface }} m²</h2>
               <div class="text-primary" style="font-size: 3rem; font-weight: bold;">{{ property.formattedPrice }} CFA</div>
               <a class="btn btn-primary" href="#">Contacter l'agence.</a>
               <div id="contactForm" class="mt-4">
                   {{ form_start(form) }}
                   <div class="row">
                       <div class="col">{{ form_row(form.firstname) }}</div>
                       <div class="col">{{ form_row(form.lastname) }}</div>
                   </div>
                   <div class="row">
                       <div class="col">{{ form_row(form.email) }}</div>
                       <div class="col">{{ form_row(form.phone) }}</div>
                   </div>
                   <div class="row">
                       <div class="col">{{ form_row(form.message) }}</div>
                   </div>
                   <button class="btn btn-primary" type="submit">Contacter</button>
                   {{ form_end(form) }}
               </div>
           </div>
       </div>
        <p>{{ property.description | nl2br }}</p>
        <div class="row">
            <div class="col-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.room }} </td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.betroom }} </td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }} </td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }} </td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <h2>Spécifités</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

